/*Selector{
	Property: value;
}*/

body, html{
	height: 100%;
	width:100%;
	background: url(Garden.jpg) no-repeat center center fixed;
	background-size: cover;

}

li{
	color:  #D46A6A;
	font-size: 100%;
	text-align:left;
	font-family: 'Dancing Script', cursive;
}
h1{
	color: #D46A6A;
	font-size: 3rem;
	text-align:center;
	font-family: 'Dancing Script', cursive;
}

header, p{
	color: #D46A6A;
	/*font-style: italic;
	font-weight: bold;*/

	text-align:center;
	font-family: 'Dancing Script', cursive;
	/*border: 5px solid rgba(170, 176, 176, 0.7);*/
	cursor: pointer;
}
.container{
	display: flex;
	flex-direction: column;
}
img{
	width: 250px;
	height: 150px;
	border: 3px solid green;
	transition: all 1s;
}
img:hover{
	transform: scale(1.1)
}
/*p{
	color: green;
	line-height: 20px;
	font-style: italic;
	font-weight: bold;
	font-size: 150%;
	font-family: 'Poiret One', cursive;
}
li{
	color: #D46A6A;
	list-style:none;
	display: inline-block;
}*/

/*.webtext{
	border: 5px dashed;
}*/

#div1{
	/*background: rgba(0,0,255,0.2)*/
}
